
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    text-align: center;
}
.biground{
    margin-top: 150px;
}
#ground {
    border: 2px solid black;
    background-color: antiquewhite;
    height: 413px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}
.block {
    width: 28px;
    background-color: blue;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}